.header_menu {
	width: 100%;
	position: relative;
	height: 70px;
	background-color: rgb(255, 166, 0);
	border-bottom: solid 8px rgb(64, 34, 0);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
}
